{%extends 'base.html'%}
{%block title%}增添评论{%endblock%}
{%block body%}


<div class="divide"></div>
<div class="r5">评论表  (总数:{{comments|length}})
       <div class="r11" ><a href='add-c' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >增加</a></div>
        <div class="r11" ><a href='search-c' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >搜索</a></div>
    <div class="r11" ><a href='info' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >取消</a></div>
</div>
    <div class="r6">
<table  width="600px" border="1px">

  <thead>
  <th></th>
  <th></th>
  <th style="color: blue">id</th>
  <th style="color: blue">comment</th>
  <th style="color: blue">question_id</th>
  <th style="color: blue">author_id</th>
  <th style="color: blue">creat_time</th>
  </thead>
  <tbody>
  {%for comment in comments%}
  <tr>
    <td><a href="/edit-c" style="text-decoration:none;color: black">修改</a> </td>
    <td><a href="/delete-c?id={{comment.id}}" style="text-decoration:none;color: black">删除</a></td>
    <td>{{comment.id}}</td>
    <td>{{comment.comment}}</td>
    <td>{{comment.question_id}}</td>
    <td>{{comment.author_id}}</td>
    <td>{{comment.creat_time}}</td>
  </tr>
  {%endfor%}
  </tbody>
</table>










<div class="divide"></div>
<div class="rl">
<form method="POST">

    {{ form.csrf_token() }}
    <div class="r3">增添一个评论(注意作者id和问题id必须存在!)</div><br><br>
    <p>请输入id</p>
    {{form.id(class='ue')}}
    <p>请输入内容</p>
    {{form.comment(class='ue')}}
    <p>请输入作者id</p>
    {{form.author_id(class='ue')}}
    <p>请输入问题id</p>
    {{form.question_id(class='ue')}}
<p></p>
    {{form.submit(class='ud')}}
</form>
    </div>



            </div>
</div>

{%endblock%}