<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员模式</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="s0">
<div class="s">
    <div class="a">
    <div class="a1">ℕ𝔼𝕎𝕊</div>
    <div class="a3" ><a href='register' style="text-decoration:none;color: black" ><img src="/static/images/进修申请.png" width="25px">注册</a></div>
    <div class="a2" ><a href='logout' style="text-decoration:none;color: black" ><img src="/static/images/我的学员.png" width="25px" >登录</a></div>
    </div>
<div class="b">
<div class="b1"><img src="/static/images/日常2_话筒-K歌.png" width="120px"></div>
    <div class="b2"></div>
</div>






<div>

</div>










</div>
</div>




<a href="info">
<div class="side" style="color: black">
管理员模式
</div>
</a>
<a href="before_up" style="text-decoration:none;color: black" style="color: black">
    <div class="bottom">
发布
    </div>
</a>
<a href="/" style="text-decoration:none;color: black" style="color: black">
    <div class="top1">
首页
    </div>
</a>
<a href="index" style="text-decoration:none;color: black" style="color: black">
    <div class="top2">
        个人中心
    </div>
</a>
</body>
</html>