{%extends 'base.html'%}
{%block title%}更改新闻{%endblock%}
{%block body%}

    <div class="divide"></div>
<div class="r3">新闻表  (总数:{{questions|length}})
       <div class="r11" ><a href='add-q' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >增加</a></div>
        <div class="r11" ><a href='search-q' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >搜索</a></div>
<div class="r11" ><a href='info' style="text-decoration:none;color: black" ><img src="/static/images/爱好.png" width="25px" >取消</a></div>
</div>
<div class="r4">
<table border="1" width="600px">

  <thead>
  <th></th>
  <th></th>
  <th style="color: blue">id</th>
  <th style="color: blue">title</th>
  <th style="color: blue">content</th>
  <th style="color: blue">create_time</th>
  <th style="color: blue">author_id</th>
    <th style="color: blue">class1</th>
  <th style="color: blue">class2</th>
  </thead>
  <tbody>
  {%for a in questions%}
  <tr>
    <td><a href="/edit-q?id={{a.id}}" style="text-decoration:none;color: black">修改</a> </td>
    <td><a href="/delete-q?id={{a.id}}" style="text-decoration:none;color: black">删除</a></td>
    <td>{{a.id}}</td>
    <td>{{a.title}}</td>
    <td>{{a.content}}</td>
    <td>{{a.create_time}}</td>
    <td>{{a.author_id}}</td>
      <td>{{a.class1}}</td>
    <td>{{a.class2}}</td>
  </tr>
  {%endfor%}
  </tbody>
</table>
</div>










<div class="divide"></div>
<div class="rl">
<form method="POST">

    {{ form.csrf_token() }}
    <div class="r3">修改该新闻</div><br><br>
    <p>请输入id</p>
    {{form.id(value=old.id,class='ue')}}
    <p>请输入题目</p>
    {{form.title(value=old.title,class='ue')}}
    <p>请输入内容</p>
    {{form.content(value=old.content,class='ue')}}
    <p>请输入发布时间</p>
    {{form.create_time(value=old.create_time,class='ue')}}
    <p>请输入作者id</p>
    {{form.author_id(value=old.author_id,class='ue')}}
    <p>请输入类型1</p>
    {{form.class1(value=old.class1,class='ue')}}
    <p>请输入类型2</p>
    {{form.class2(value=old.class2,class='ue')}}
<p></p>
    {{form.submit(class='ud')}}
</form>
    </div>



            </div>
</div>

{%endblock%}