{%extends 'base1.html'%}
{%block title%}搜索结果为空{%endblock%}
{%block title1%}

{%endblock%}
{%block search%}
<div class="c">
    <div class="c1"><a href="dangzheng" style="text-decoration:none;color: black">党政</a> </div>
    <div class="c2"><a href="yule" style="text-decoration:none;color: black">娱乐</a> </div>
    <div class="c3"><a href="taolun" style="text-decoration:none;color: black">讨论</a> </div>
     <form method="post">
    {{form.submit(class='s3')}}
        <div class="c6">
        {{ form.csrf_token() }}
    请输入题目:
    {{form.title(class='s1')}}</div>
        <div class="c7">
    请输入内容:
    {{form.content(class='s2')}}</div>
         </form>
</div>
{%endblock%}
{%block search1%}
<div class="search_fail"><img src="/static/images/未搜索到.webp" width="500px"></div>
{%endblock%}