<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}管理员{%endblock%}</title>
    <link rel="stylesheet" href="/static/css/home.css" type="text/css" charset="utf-8">
</head>
<body>
<div class="a">
<div class="e1">


    {%block aaa%}
    <a href="/buy"> <div class="e11"><h2>购商品</h2></div></a>
    <a href="/"><div class="e12"><h2>回主页</h2></div></a>
    <a href="manage"><div class="e13"><h1>管理商品</h1></div></a>
    <a href="muser"> <div class="e14"><h2>管理用户</h2></div></a>
    <a href="mcomment"><div class="e15"><h2>管理评论</h2></div></a>

    {%endblock%}




    {%block search%}{%endblock%}
</div>

{%block body%}{%endblock%}





















    </div>
</body>
</html>